<%= provide(:title, @taxon.name) %>
<%= render 'category_header', taxon: @taxon %>

<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render 'product_category', taxonomies: @taxonomies %>
        <%= render 'color' %>
        <%= render 'size' %>
      </div>
      <%= render 'products_filter', products: @products %>
    </div>
  </div>
</section>

<%= render 'partnerslogo' %>
